{{- /* One employer on the homepage timeline. See timeline.html. */ -}}
{{- $dates := .Get "dates" -}}
{{- $role := .Get "role" -}}
{{- $company := .Get "company" -}}
{{- $inner := trim .Inner "\n " -}}
{{- if in $inner "timeline__row" -}}
<li class="timeline__item timeline__item--promotion">{{ $inner | safeHTML }}</li>
{{- else -}}
<li class="timeline__item timeline__row">
<span class="timeline__dates">{{ $dates }}</span>
<div class="timeline__body">
<h3 class="timeline__role">{{ $role }}</h3>
<p class="timeline__company">{{ $company }}</p>
{{- with $inner }}<p class="timeline__note">{{ . | $.Page.RenderString }}</p>{{ end }}
</div>
</li>
{{- end -}}
